/* Base */
body {
    background-color: #fcfcfc;
    font-family: 'Poppins', sans-serif;
}

/* Navbar */
.navbar {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0);
}

.nav-link {
    color: #0056B3;
    font-weight: 500;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.active {
    color: #ffc107;
    text-decoration: none;
    font-weight: 600;
}

/* Mobile Navbar */
@media (max-width: 767px) {
    .navbar-nav {
        text-align: center;
    }

    .nav-link {
        display: inline-block;
        margin: 5px 0;
    }

    .navbar-toggler {
        border-color: #0056B3;
        background-color: transparent;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,86,179,1)' stroke-width='2' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        transition: 0.3s;
    }

    .navbar-toggler:hover .navbar-toggler-icon,
    .navbar-toggler:focus .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,193,7,1)' stroke-width='2' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
}

/* Sections */
#landing {
    background-color: #fcfcfc;
}

#projects,
#contact,
#techstack {
    background-color: #0056B3;
}

/* Buttons */
.hover-warning:hover {
    background-color: #ffc107 !important;
    border-color: #ffc107 !important;
    color: #fcfcfc !important;
    transition: 0.3s;
}

.hire-btn {
    background-color: #0d6efd;
    color: #fff;
    font-weight: 600;
    padding: 8px 25px;
    border-radius: 8px;
    border: none;
    transition: 0.25s ease;
}

.hire-btn:hover {
    background-color: #ffc107;
}

/* Cards */
.showcase,
.card-title {
    color: #ffc107;
}

.card-body a {
    color: #0056B3;
}

.card-body a:hover {
    background-color: #ffc107;
    color: #0056B3;
}

/* Badges */
.front-end-badge,
.back-end-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 0.7rem;
    padding: 4px 10px;
    border-radius: 5px;
    font-weight: bold;
    z-index: 1;
}

/* Tech Stack */
.tech-icon {
    width: 80px;
    height: auto;
}

/* Contact */
#contact textarea {
    height: 200px;
}

.icon-img {
    width: 26px;
    height: 26px;
    border-radius: 4px;
    transition: 0.25s ease;
}

/* Modal */
.modal-footer button:hover {
    background-color: #ffc107;
    border: none;
}

/* Footer */
.footer-custom {
    background-color: #fcfcfc;
    border-top: 2px solid #fcfcfc;
    letter-spacing: 0.5px;
}

.footer-custom h3 {
    color: #ffc107;
}

.nav-footer {
    color: #ffc107;
    text-decoration: none;
    margin: 5px 10px;
    display: inline-block;
}

.footer-custom p.small {
    font-size: 0.85rem;
    color: #777;
}
